@page
@model LoginModel
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>登陆</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        html, body, .framework {
            height: 100%
        }

        .card {
            padding: 3rem;
            width: 25rem;
            position: relative
        }

            .card > button {
                margin-top: 1rem
            }

        small {
            position: absolute;
        }
    </style>
</head>
<body>
    <div class="framework d-flex justify-content-center align-items-center">
        <form method="post" class="card">
            <div class="form-group ">
                <label for="pwd">@Model.Title</label>
                <input type="password" class="form-control" asp-for="Pwd" placeholder="请输入密码">
                <small class="form-text text-muted">@Model.Tip</small>
            </div>
            <button type="submit" class="btn btn-primary">@Model.Btn</button>
        </form>
    </div>
</body>
</html>